header{
    background-color:black;
    display: inline-block;
    width: 100%;
    height:100%;
}
#nav1 ul li{
    display: inline-block;
    padding: 5px;
}
#nav1 ul li a{
    color : white;
    text-decoration: none;
}
#apply{
    background-color: red;
    border-radius: 50px;

}
.text-main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
.pic-main{
width: 100%;
height:400px;
}
#ws{
    background-color: red;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px;
    color: white;
}
.grid-container{
display:grid;
grid-template-columns: auto auto auto auto;
padding: 10px;
}
.grid-item{
border: 1px;
padding: 20px;
text-align: center;
}
.grid-item2{
    padding: 10px;
    margin: 60px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    
    }
#img-office{
width: 100%;
height:400px;
}
.text-office{
    text-align: center;
    position: absolute;
    top: 125%;
    left: 30%;
    color:black;
}
.a-office{
text-decoration: none;
color: white;

}
footer{
    text-align : center;
    background-color: black;
    color: white;
    height: 30px;

}


